<div class="profile-page">
  <div class="page-header">
    <h1>Profile</h1>
    <p>View and manage your account information.</p>
  </div>

  <div class="profile-card" *ngIf="profile">
    <div class="profile-top">
      <div class="avatar">{{ initials }}</div>

      <div>
        <h2>{{ profile.fullName }}</h2>
        <p>{{ profile.role }} • {{ profile.email }}</p>
      </div>
    </div>

    <div class="profile-grid">
      <div class="info-box">
        <span>Full Name</span>
        <strong>{{ profile.fullName }}</strong>
      </div>

      <div class="info-box">
        <span>Email Address</span>
        <strong>{{ profile.email }}</strong>
      </div>

      <div class="info-box">
        <span>Role</span>
        <strong>{{ profile.role }}</strong>
      </div>

      <div class="info-box">
        <span>Clinic</span>
        <strong>{{ profile.clinic }}</strong>
      </div>
    </div>

    <div class="doctor-box" *ngIf="profile.doctorProfile">
      <h4>Doctor Profile</h4>

      <div class="profile-grid">
        <div class="info-box">
          <span>Specialization</span>
          <strong>{{ profile.doctorProfile.specialization }}</strong>
        </div>

        <div class="info-box">
          <span>Phone</span>
          <strong>{{ profile.doctorProfile.phoneNumber || '-' }}</strong>
        </div>

        <div class="info-box">
          <span>Availability</span>
          <strong>{{ profile.doctorProfile.availability || '-' }}</strong>
        </div>

        <div class="info-box">
          <span>Notes</span>
          <strong>{{ profile.doctorProfile.notes || '-' }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4 mt-1">
    <div class="col-lg-6">
      <div class="card-box">
        <h4>Edit Profile</h4>

        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <label class="form-label">Full Name</label>
          <input class="form-control mb-3" formControlName="fullName" />

          <button class="btn btn-primary" type="submit">
            Save Profile
          </button>
        </form>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card-box">
        <h4>Change Password</h4>

        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <label class="form-label">Current Password</label>
          <input type="password" class="form-control mb-3" formControlName="currentPassword" />

          <label class="form-label">New Password</label>
          <input type="password" class="form-control mb-3" formControlName="newPassword" />

          <button class="btn btn-primary" type="submit">
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="success" class="alert alert-success mt-3">
    {{ success }}
  </div>

  <div *ngIf="error" class="alert alert-danger mt-3">
    {{ error }}
  </div>
</div>